/*DETAIL ORDER*/
.detail-exhibition .section{
    margin-bottom: 20px;
    font-size: 15px;
}
.detail-exhibition .section:last-child{ padding: 0; margin-bottom: 0;}
.detail-exhibition .section .list-item .title, .detail-exhibition .section .section-title{
    position: relative;
    padding-left: 30px;
    color: #272727;
    font-family: 'Roboto Medium';
}
.detail-exhibition .section .list-item .detail{
    color: #444;
    font-size: 14px;
}
.detail-exhibition .section .list-item .detail select{ width: 180px;}
.detail-exhibition .section .list-item li .title:before{
    position: absolute;
    font-family: 'Fontawesome';
    top: 0;
    left: 0;
    color: #07adc6;
    font-size: 17px;
}
.detail-exhibition .section .list-item li:nth-child(1) .title:before{content: '\f02a';}
.detail-exhibition .section .list-item li:nth-child(2) .title:before{content: '\f041';}
.detail-exhibition .section .list-item li:nth-child(3) .title:before{content: '\f23d';}
.detail-exhibition .section .list-item li:nth-child(4) .title:before{ content: '\f1fe';}
.detail-exhibition .section .section-title{
    padding: 0;
    line-height: inherit;
    border-bottom: none;
}
.detail-exhibition .section .section-detail{ padding: 0;}
.detail-exhibition .section .section-detail .list-item{ border-top: 1px solid #f5f5f5; border-bottom: 1px solid #f5f5f5; }
.detail-exhibition .section .section-detail .list-item li{ float: left; padding: 12px 24px; border-left: 1px solid #f5f5f5;}
.detail-exhibition .section .section-detail .list-item li:nth-child(1){ width: 20%; text-align: right; border-left: none;}
.detail-exhibition .section .section-detail .list-item li:nth-child(2){ width: 80%; text-align: left;}
.detail-exhibition .section .section-detail .list-item li span{ display: block; padding-bottom: 5px; color: #333; font-size: 14px;}
.detail-exhibition .section .section-detail .list-item li .total{
    font-size: 16px;
    color: #0f9a87;
    padding-bottom: 0;
    font-family: 'Roboto Medium';
    font-weight: normal;
}
.detail-exhibition .info-exhibition thead tr td{
    color: #272727;
    font-family: 'Roboto Medium';
    font-weight: normal;
    text-transform: uppercase;
}
.detail-exhibition .info-exhibition thead tr td:nth-child(1){ width: 5%;}
.detail-exhibition .info-exhibition thead tr td:nth-child(n+4){ width: 12%;}
.detail-exhibition .info-exhibition tbody tr td{ color: #333; font-size: 14px; vertical-align: middle;}
.detail-exhibition .info-exhibition tbody tr td:nth-child(2) .thumb{ display: inline-block;}
.detail-exhibition .info-exhibition tr td:nth-child(2){ width: 15%; text-align: center;}
.detail-exhibition .info-exhibition tr td:nth-child(5) { text-align: center;}
.table{ margin-bottom: 0!important;}
.detail-exhibition .thumb{ margin-top: 0!important;}
.detail-exhibition .section#info .list-item li{ margin-bottom: 10px;}
.detail-exhibition .section#info .list-item li:last-child{ margin-bottom: 0!important;}
.info-exhibition .thumb img{ width: 80px; height: 80px; border: 1px solid #ccc;}
#info select{
    border: 1px solid #ccc;
    padding: 5px 20px;
    font-size: 13px;
    color: #666;
    border-radius: 3px;
}
#info input[type="submit"]{
    font-size: 13px;
    padding: 3px 10px;
    border: none;
    background: #0f9a87;
    color: #fff;
    font-family: 'Roboto Medium';
    font-weight: normal;
    line-height: 23px;
    border-radius: 3px;
}
.detail-exhibition .section .section-title{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
}